
@{
    ViewData["Title"] = "HowItWork";
}

<header class="page-header bg-img size-lg" style="background-image: url(/assets/img/bg-banner2.jpg)">
    <div class="container no-shadow">
        <h1 class="text-center">Основная инофрмация</h1>
        <p class="lead text-center">Узнайте, как пользоваться сайтом</p>
    </div>
</header>
<!-- END Site header -->
<!-- Main container -->
<main>



    <!-- About -->
    <section>
        <div class="container">

            <h3>Как это работает</h3>
            <hr />
            <p>
                Наши пользователи находят вакансии разными способами:
            </p>
            <ul>
                <li>
                    используют комбинации фильтров по индустрии, месторасположению (включая поиск на карте), зарплате и т.д., в том числе сохраняют эти комбинации в автопоиски;
                </li>
                <li>
                    вводят запросы в поисковую строку.
                </li>
            </ul>
            <p>
                В любом случае, мы так или иначе показываем пользователю (или присылаем в письме) ссылки на подходящие вакансии.
                Мы можем находить настолько много вакансий, что они не вмещаются на одну страницу. В таком случае мы стараемся упорядочить их по релевантности -
                то есть так, чтобы результаты поиска наилучшим способом соответствовали интересам пользователей (как соискателей, так и работодателей).
                Мы считаем, что тем сильнее соответствуем интересам пользователей, чем больше людей и более удобным образом находит работу с нашей помощью.
            </p>
            <br />
            <hr />
            <h3>Как искать вакансии?</h3>
            <hr />
            <p>
                Для поиска вакансий необходимо кликнуть на раздел "Поиск"и воспользоваться быстрым поиском, либо выбрать Расширенный поиск.


                Поле быстрого поиска на главной странице позволяет вам искать вакансию по любому слову или любой фразе, содержащимся в названии вакансии, либо выбрать категорию.
            </p>
            <img src="~/assets/img/forhow1.jpg" />
            <br />
            <hr />
            <h3>Что такое отклик?</h3>
            <hr />
            <p>
                Отклик — это возможность отправить свои контактные данные на заинтересовавшую вас вакансию.

                Чтобы откликнуться на вакансию, зайдите на сайт. Далее вам необходимо открыть заинтересовавшую вакансию (предварительно воспользовавшись поиском вакансий
                или получив ссылку) и нажать «Откликнуться».
            </p>

            <img src="~/assets/img/forhow2.jpg" />
            <p>
                Далее необходимо заполнить заявку и нажать на кнопку "Принять".
            </p>
            <img src="~/assets/img/forhow3.jpg" />
            <p>
                Если Ваша заявка будет рассмотрена в положительную сторону, с Вами свяжутся по одному из указанных контактных данных. 
            </p>
        </div>
    </section>
    <!-- END About -->
    <!-- Team -->
    <!-- END Team -->



</main>

