@{
    ViewData["Title"] = "Home Page";
}




    <!-- Main container -->
    <main>



        <!-- Recent jobs -->
        <section>
            <div class="container">
                <header class="section-header">
                    <span>Новые</span>
                    <h2>Недавние вакансии</h2>
                </header>

                <div class="row item-blocks-connected">

                    <!-- Job item -->
                    <div class="col-xs-12">
                        <a class="item-block" href="job-detail.html">
                            <header>
                                <img src="~/assets/img/logo-google.jpg" alt="">
                                <div class="hgroup">
                                    <h4>Senior front-end developer</h4>
                                    <h5>Google</h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Menlo park, CA</span>
                                    <span class="label label-success">Full-time</span>
                                </div>
                            </header>
                        </a>
                    </div>
                    <!-- END Job item -->
                    <!-- Job item -->
                    <div class="col-xs-12">
                        <a class="item-block" href="job-detail.html">
                            <header>
                                <img src="~/assets/img/logo-linkedin.png" alt="">
                                <div class="hgroup">
                                    <h4>Software Engineer (Entry or Senior)</h4>
                                    <h5>Linkedin</h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Livermore, CA</span>
                                    <span class="label label-warning">Part-time</span>
                                </div>
                            </header>
                        </a>
                    </div>
                    <!-- END Job item -->
                    <!-- Job item -->
                    <div class="col-xs-12">
                        <a class="item-block" href="job-detail.html">
                            <header>
                                <img src="~/assets/img/logo-envato.png" alt="">
                                <div class="hgroup">
                                    <h4>Full Stack Web Developer</h4>
                                    <h5>Envato</h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">San Francisco, CA</span>
                                    <span class="label label-info">Freelance</span>
                                </div>
                            </header>
                        </a>
                    </div>
                    <!-- END Job item -->
                    <!-- Job item -->
                    <div class="col-xs-12">
                        <a class="item-block" href="job-detail.html">
                            <header>
                                <img src="~/assets/img/logo-facebook.png" alt="">
                                <div class="hgroup">
                                    <h4>Web Applications Developer</h4>
                                    <h5>Facebook</h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Lexington, MA</span>
                                    <span class="label label-danger">Internship</span>
                                </div>
                            </header>
                        </a>
                    </div>
                    <!-- END Job item -->
                    <!-- Job item -->
                    <div class="col-xs-12">
                        <a class="item-block" href="job-detail.html">
                            <header>
                                <img src="~/assets/img/logo-microsoft.jpg" alt="">
                                <div class="hgroup">
                                    <h4>Sr. SQL Server Developer</h4>
                                    <h5>Microsoft</h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Palo Alto, CA</span>
                                    <span class="label label-success">Remote</span>
                                </div>
                            </header>
                        </a>
                    </div>
                    <!-- END Job item -->

                </div>

                <br><br>
                <p class="text-center"><a class="btn btn-info" href="job-list.html">Показать все вакансии</a></p>
            </div>
        </section>
        <!-- END Recent jobs -->
        <!-- Facts -->
        <section class="bg-img bg-repeat no-overlay section-sm" style="background-image: url(~/assets/img/bg-pattern.png)">
            <div class="container">

                <div class="row">
                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="15"></span></p>
                        <h6>Вакансий</h6>
                    </div>

                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="523"></span></p>
                        <h6>Сотрудников</h6>
                    </div>

                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="1965"></span></p>
                        <h6>Откликов</h6>
                    </div>

                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="386"></span></p>
                        <h6>Завершенный вакансий</h6>
                    </div>
                </div>

            </div>
        </section>
        <!-- END Facts -->
        <!-- How it works -->
        <section>
            <div class="container">

                <div class="col-sm-12 col-md-6">
                    <header class="section-header text-left">
                        <span>Найди вакансию</span>
                        <h2>Как это работает</h2>
                    </header>

                    <p class="lead text-justify">После нажатия на кнопку «Откликнуться» создается специальный документ, отклик, который содержит краткую информацию о соискателе.Работодатель видит все отклики на странице. Под каждым откликом есть ссылка на сопроводительное письмо. Если работодателя заинтересовал отклик, он может кликнуть на нее, чтобы прочитать сопроводительное письмо.</p>
                    <p class="lead text-justify">На каждом из этих этапов просмотра отклика работодатель может кликнуть на кнопку «Пригласить» или «Отказать», и соискателю уйдет соответствующее уведомление. Если работодатель просмотрел страницу с сопроводительным письмом, но не послал приглашения или отказа, то у такого отклика появится статус «На рассмотрении».</p>


                    <br><br>
                    <a class="btn btn-primary" href="page-typography.html">Learn more</a>
                </div>

                <div class="col-sm-12 col-md-6 hidden-xs hidden-sm">
                    <br>
                    <img class="center-block" src="~/assets/img/how-it-works.png" alt="how it works">
                </div>

            </div>
        </section>
        <!-- END How it works -->
        <!-- Categories -->
        <section class="bg-alt">
            <div class="container">
                <header class="section-header">
                    <span>Категории</span>
                    <h2>Выбери профессию</h2>
                    <p>Here's the most popular categories</p>
                </header>

                <div class="category-grid">
                    <a href="job-list-1.html">
                        <i class="fa fa-laptop"></i>
                        <h6>IT отдел</h6>
                        <p>Системные администраторы, техники, программисты и безопасники.</p>
                    </a>

                    <a href="job-list-2.html">
                        <i class="fa fa-graduation-cap"></i>
                        <h6>Преподаватели</h6>
                        <p>Вакансии по преподаваемым дисциплинам и лаборанты</p>
                    </a>

                    <a href="job-list-3.html">
                        <i class="fa fa-plane"></i>
                        <h6>Администрация</h6>
                        <p>Заведующие кафедрами, заместители</p>
                    </a>

                    <a href="job-list-1.html">
                        <i class="fa fa-wrench"></i>
                        <h6>Отдел снабжения</h6>
                        <p>Монтажники, ремонтники, электрики и разнорабочие</p>
                    </a>

                    <a href="job-list-2.html">
                        <i class="fa fa-shield"></i>
                        <h6>Охрана</h6>
                        <p>Вахтеры, охранники и сотрудники контроля</p>
                    </a>

                    <a href="job-list-3.html">
                        <i class="fa fa-magic"></i>
                        <h6>Отдел маркетинга</h6>
                        <p>Арбитрижники трафика и маркетологи</p>
                    </a>
                </div>

            </div>
        </section>
        <!-- END Categories -->
       


    </main>
    <!-- END Main container -->
    <!-- Site footer -->

